@import './../../../style/style';

.user-card {
  display: flex;
  align-items: center;

  &__container {
    margin: 0 15px;
  }

  &__name {
    span {
      font-size: 18px;
      color: $main-color;
      @media screen and (max-width: 592px) {
        font-size: 12px;
      }
    }
  }

  &__avatar {
    img {
      border-radius: 50em;
      width: 64px;
      @media screen and (max-width: 592px) {
        width: 32px;
      }
    }
  }
}
