.home {
  &__banner {
  }
  &__location-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (min-width: 592px) {
      background-color: #f6f6f6;
      padding: 56px 50px;
      border-radius: 25px;
      margin-top: 43px;
    }
  }
}
