@import './../../style/variables.scss';

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 892px) {
    padding-top: 115px;
    padding-bottom: 70px;
  }
  @media screen and (max-width: 592px) {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  * {
    color: $main-color !important;
    margin: 0;
    text-align: center;
  }

  h1 {
    font-size: 288px;
    font-weight: 700;
    @media screen and (max-width: 892px) {
      font-size: 120px;
    }
  }
  h2 {
    font-size: 36px;
    @media screen and (max-width: 892px) {
      font-size: 18px;
    }
  }
  span {
    margin-top: 150px;
    font-size: 18px;
    @media screen and (max-width: 592px) {
      font-size: 14px;
    }
  }
}
