@import './../../../style/index';

.subtitle {
  font-size: 18px;
  color: $main-color;
  @media screen and (max-width: 892px) {
    font-size: 16px;
  }
  @media screen and (max-width: 592px) {
    font-size: 14px;
  }
}
